<ImageGlass>
  <Theme>
    <Info name="Material Dark" version="1.1" author="MarnickS" email="" website="gp9.home.xs4all.nl/imageglass" description="Kinda grey Material Design theme for ImageGlass" type="ImageGlass Theme Configuration" compatibility="5.0" preview="preview.png" />
    <main topbar="" topbarcolor="#212d2d" bottombar="" bottombarcolor="#212d2d" backcolor="#2F4F4F" statuscolor="#DCDCDC" />
    <toolbar_icon back="ViewPreviousImage.svg" next="ViewNextImage.svg" leftrotate="RotateLeft.svg" rightrotate="RotateRight.svg" delete="Delete.svg" zoomin="ZoomIn.svg" zoomout="ZoomOut.svg" zoomtofit="ZoomToFit.svg" zoomlock="LockRatio.svg" scaletofit="ActualSize.svg" scaletowidth="ScaleToWidth.svg" scaletoheight="ScaleToHeight.svg" autosizewindow="AdjustWindowSize.svg" open="OpenFile.svg" refresh="Refresh.svg" gotoimage="GoToImage.svg" thumbnail="ThumbnailBar.svg" checkerboard="Checkerboard.svg" fullscreen="FullScreen.svg" slideshow="Slideshow.svg" convert="Convert.svg" print="Print.svg" uploadfb="Sharing.svg" extension="Plugins.svg" settings="Settings.svg" about="About.svg" menu="Menu.svg" />
  </Theme>
</ImageGlass>